
<!--<div class="content">-->
<!--  <mat-card class="mat-elevation-z4">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Himalayan Peaks</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <img mat-card-image src="./../assets/images/potwor.jpg">-->
<!--    <mat-card-content>-->
<!--      <p>-->
<!--        The Himalayas is a mountain range in Asia.-->
<!--      </p>-->
<!--    </mat-card-content>-->
<!--    <mat-card-actions>-->
<!--      <button mat-button>LIKE</button>-->
<!--      <button mat-button>SHARE</button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->
<!--</div>-->


<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let card of cards">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title>Mountains {{card.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./../assets/images/potwor.jpg">
      <mat-card-content>
        <p>
          The Himalayas is a mountain range in Asia.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

